div{
    display:inline-block;
    border: solid;
    border-width: thin;

    padding: 1em;
}
ul{
    margin: 0;
    padding: 0.5em;
}
.importante{
    font-size: 1.5em;
}

textarea {
  display : block;

  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 340px;
  height  : 360px;

  resize  : none;
  overflow: auto;
}
